/* ---- reset ---- */
   body {
       min-height: 100vh;
       min-height: -webkit-fill-available;
      
   }

   html {
       height: -webkit-fill-available;
   }
 * {
     box-sizing: border-box;
 }
 
 @media only screen and (max-width: 600px) {
 
 
 body {
     margin: 0;
     font-size: 2em;
     

 }
 #particles-js {
     height: 225%;
 }

}


 /* ---- particles.js container ---- */
 #particles-js {
     position: absolute;
     width: 100%;
    
     
     background-image: linear-gradient(rgba(0, 9, 0, 5), rgba(0, 9, 0, 0.5)),
    
     url("https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: fixed; 
     

 }
.fa-github {
animation: shake 7s linear infinite;
}

@keyframes shake {
    0%{transform:translateX(0)}
    90%{transform: translateX(0)}
     91%{transform:translateX(20px)}
    92%{transform: translateX(-20px)}
     93% {transform: translateX(20px) }

     94% {
         transform: translateX(-20px)
     }
      95% {
          transform: translateX(20)
      }

      96% {
          transform: translateX(-20)
      }

      97% {
          transform: translateX(20px)
      }

      98% {
          transform: translateX(-20px)
      }

      99% {
          transform: translateX(20px)
      }
       100% {
           transform: translateX(0)
       }

}
 .navbar {
     background-color: white !transparent;
 }

 .ml-5 {
    font-family: 'Major Mono Display',
    monospace;
     color: white;
     font-size: 23px;
 }

 .ml-5::first-letter {
     color: #47809b;
     font-weight: bold;
 }

 .ml-3 {
     font-family: 'Major Mono Display',
     monospace;
     
     color: black;
     font-size: 30px;
 }


.aboutt {
    height: 100vh;
}
.omnie {
    margin-top: 250px;
}
.omniephoto {
    margin-top:230px;
}





 }

 .btn {
     
     font-family: 'Press Start 2P',
         cursive;
           animation-name: anime;
           animation-duration: 4s;


           }

           @keyframes anime {
               from {
                   opacity: 0;
               }

               to {
                   opacity: 1;
               }
 }

 .btn:hover {
     opacity: 0.6;

    
 }


 .fa-bars {
     color: white;
    
     
 }

 i.active {
     display:none;
      position: absolute;
      top: 15px;
      left: 20px;
      cursor: pointer;
      
      
      
     
     
 }


 i.fa-times {
     color: white;
  
     
    

 }

 .white {
     color: #47809b;
 }



 .left-menu {
     position: fixed;
     top: 0px;
     left: 0px;
     height: 100vh;
     width: 250px;
     background: white;
     margin: 0;
     padding: 0;
 }

 .left-menu ul {
     list-style: none;
     text-align: center;
     padding: 0px;
 }





 .left-menu li {
     margin: 30px auto;
 }

 .left-menu ul li a {
     font-weight: 100;
     font-size: 17px;
     color: #082213;
     text-decoration: none;
     margin: 0px 15px;
     text-transform: uppercase;
 
 }

 .left-menu ul li a:hover {
     color: gray;
     
     transition: 0.3s;
     font-weight: bold;
     
   
 }

 .nav-icon {
     position: absolute;
     top: 15px;
     left: 20px;
     cursor: pointer;
 }

 .nav-icon span {
     font-size: 32px;
     color: #2A3D45;
 }

 .nav-icon:hover {
     opacity: 0.5;
     
 }

#footer {
    position: fixed;
    bottom: 0;
    color:white;
    right:0;
   font-family: 'Major Mono Display',
   monospace;
   font-size: 15px;
   

}

#footer::first-letter {
    color: #47809b;
    ;
}

#footer:nth-child(2) {
    color:#c8664c;
}


.if1 {
    width: 400px;
    height: 200px;
    transition-duration: 0.5s;
   
    border-radius: 0px;
   transition: 0.6s;

}
.if2 {
    width: 400px;
    height: 200px;
    transition-duration: 0.5s;

    border-radius: 0px;
    transition: 0.6s;

}
.if3 {
    width: 400px;
    height: 200px;
    transition-duration: 0.5s;

    border-radius: 0px;
    transition: 0.6s;

}

.if1:hover {

transform:  rotateY(200deg);

z-index: 0;
opacity: 0.3;


}
.if3:hover {

    transform: rotateY(200deg);

    z-index: 0;
    opacity: 0.3;


}
.if2:hover {

    transform: rotateY(200deg);

    z-index: 0;
    opacity: 0.3;


}










.ml-2 {
    color:white;
    font-family: 'Major Mono Display',
    monospace;
    font-size: 23px;

}

.ml-2::first-letter {

 color: #c8664c;
 ;
 font-weight: bold;


}

.textt1 {
     visibility: hidden;
}
.textt2 {
    visibility: hidden;
}
.textt3 {
    visibility:hidden;
}

.textt1.chc {
    color: white;
    transition: color 0.3s ease;
    font-weight: bold;
    visibility: visible;
  font-family: 'Roboto Mono',
  monospace;
    font-size: 12px;
}
.textt2.chc {
    color: white;
    transition: color 0.3s ease;
    font-weight: bold;
    visibility: visible;
    font-family: 'Roboto Mono',
        monospace;
    font-size: 12px;
}
.textt3.chc {
    color: white;
    transition: color 0.3s ease;
    font-weight: bold;
    visibility: visible;
    font-family: 'Roboto Mono',
        monospace;
    font-size: 12px;
}


     @keyframes anime {
         from {
             opacity: 0;
         }

         to {
             opacity: 1;
         }
}

.por {
    height: 500px;
    position: relative;
    top: 57px;
     animation-name: anime;
     animation-duration: 7s;


     }
    

     @keyframes anime {
         from {
             opacity: 0;
         }

         to {
             opacity: 1;
         }
     }

 #portf {
     font-family: 'Londrina Outline',
         cursive;
     color: white;
     font-size: 100px;
     animation-name: anime;
     animation-duration: 4s;


 }

 @keyframes anime {
     from {
         opacity: 0;
     }

     to {
         opacity: 1;
     }


 }


.skill {
    color: white;
    font-size: 20px;
}


button {
    cursor: pointer;
    height: 60px;
    width: 250px;
    line-height: 50px;
    font-size: 18px;
    margin: 60px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: transparent;
    overflow: hidden;
    transition: .4s;
     animation-name: anime2;
     animation-duration: 4s;


     }

     @keyframes anime2 {
         from {
             opacity: 0;
             transform: translateY(-500px)
         }

         to {
             opacity: 1;
             transform: translateX(0);
         }


}

button:nth-child(1) {
    color: #47809b;
    border: 1px solid;
}

button:nth-child(1):hover {
    color: #c8664c;
    border: 1px solid;
}

button span {
    display: flex;
    width: 100px;
    height: 10px;
    background: white;
    filter: blur(8px);
    transform: rotate(110deg) translateX(10px) translateY(100px);
    transition: .4s;
}

button:hover span {
    transform: rotate(110deg) translateX(-80px) translateY (-140px);
}

h1::first-letter {

color:#47809b;

}

h1::after {
    content: "S";
    color: #c8664c;
    margin-left: 5px;
    font-size: 42px;
}

.skille {
margin-top: 100px;
  animation-name: anime;
  animation-duration: 2s;
  
  


  }
 


  @keyframes anime {
      from {
          opacity: 0;
          transform: translateX(-500px)
      }

      to {
          opacity: 1;
          transform: translateX(0);
      }



/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}
